{% if invoice.payments|length > 0 %}
	<table style="width: 100%;">
		<tr>
			<th width="50" style="text-align: center;">ID</th>
			<th width="170" style="text-align: center;">Type</th>
			<th style="text-align: center;">Référence</th>
			<th width="170" style="text-align: center;">Date paiement</th>
			<th width="170" style="text-align: right;">Montant</th>
			<th style="width: 70px; text-align: center;"></th>
		</tr>
		{% for payment in invoice.payments %}
			<tr>
				<td style="text-align: center;">{{ payment.id }}</td>
				<td style="text-align: center;">
					{% if payment.bankwire %}Virement
					{% elseif payment.check %}Chèque
					{% elseif payment.creditcard %}Carte bleue
					{% elseif payment.cash %}Espèce{% endif %}
				</td>
				<td style="text-align: center;">{{ payment.identifier }}</td>
				<td style="text-align: center;">{{ payment.paymentdate|date('d/m/Y') }}</td>
				<td style="text-align: right;">{{ payment.amount|number_format(2) }} €</td>
				<td style="text-align: center;"><a href="{{ path('AFMPInvoiceBundle_payment_remove', { 'id': payment.id }) }}" class="gray_button small remove_payment"><span class="fa fa-times"></span></a></td>
			</tr>
		{% endfor %}
	</table>
{% endif %}