{% extends "::Layout/layout.html.twig" %}
{% block title %}{{ parent() }} - Casablanca - Panier{% endblock %}

{% set totalHT = 0 %}
{% set totalTTC = 0 %}
{% set refTva = {} %}

{% for product in products %}
    {% set refTva = refTva|merge({('%'~product.tva.valeur):0}) %}
{% endfor %}

{% block body %}
    {% include('MainBundle:Common:header.html.twig') with {active: ''}%}
    <!--========================================================
                           CONTENT
    =========================================================-->

    {#{% include('MainBundle:Common:banner.html.twig') %}#}

    <div class="container" style="padding-top: 100px;">
        <div class="content-grid row">
            <div class="col-sm-3">

            </div>
            <div class="col-sm-9">
                {% for flashMessage in app.session.get('success') %}
                    <div class="alert alert-success">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                <h2>Votre panier</h2>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Désignation</th>
                        <th>Quantité</th>
                        <th>Prix unitaire</th>
                        <th>Total HT</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if products | length == 0 %}
                        <tr>
                            <td colspan="4"><center>Votre panier est vide</center></td>
                        </tr>
                    {% endif %}
                    {% for product in products %}
                        <tr>
                            {% if cart[product.id] is defined %}
                                <form action="{{ path('add_to_cart', {'id':product.id}) }}" method="get">
                                    <td>{{ product.title }}</td>
                                    <td>

                                            <select name="quantity" class="col-sm-3" onchange="this.form.submit()">
                                                {% for i in 1..10 %}
                                                <option value="{{ i }}" {% if i == cart[product.id] %} selected = "selected" {% endif %}>{{ i }}</option>
                                                {% endfor %}
                                            </select>&nbsp;

                                        <a href="#" class="glyphicon glyphicon-refresh"></a>
                                        <a href="{{ path('delete_cart', {'id':product.id}) }}" class="glyphicon glyphicon-trash"></a>
                                    </td>
                                    <td>{{ product.price | number_format(2,',','.')  }} Dhs</td>
                                    <td>{{ (product.price * cart[product.id]) | number_format(2,',','.') }} Dhs</td>
                                </form>
                            {% else %}
                                <a href="{{ path('cart') }}">Ce mets est déjà dans le panier</a>
                            {% endif %}
                        </tr>
                        {% set totalHT = totalHT + (product.price * cart[product.id]) %}
                        {% set totalTTC = totalTTC + (product.price * cart[product.id]) | tva(product.tva.valeur) %}
                        {% set refTva = refTva | merge({('%'~product.tva.valeur) : refTva['%'~product.tva.valeur] + (product.price*cart[product.id]) | montantTva(product.tva.valeur) }) %}
                    {% endfor %}
                    </tbody>
                </table>
                {% if products | length != 0 %}
                    <dl class="dl-horizontal pull-right">
                        <dt>Total HT :</dt>
                        <dd>{{ totalHT | number_format(2,',','.') }} Dhs</dd>
                        {% for key, tva in refTva %}
                            <dt>TVA{{ key }} : </dt>
                            <dd>{{ tva | number_format(2,',','.') }} Dhs</dd>
                        {% endfor %}
                        <dt>Total TTC :</dt>
                        <dd>{{ totalTTC | number_format(2,',','.') }} Dhs</dd>
                    </dl>
                {% endif %}
                <div class="clearfix"></div>
                <a href="{{ path('shipping') }}" class="btn btn-success pull-right">Valider mon panier</a>
                <a href="{{ path('speciality', {'category' : 'liste'}) }}" class="btn btn-primary ">Continuer mes commandes</a>
            </div>
        </div>
    </div>


{% endblock %}