<div class="page">
    <!--========================================================
                              HEADER
    =========================================================-->
    <!--header-->
    <div class="header">
        <div class="container">
            <div class="logo">
                <h1 style="font-family: 'Oswald';"><a href="{{ path('index1') }}">Bambou d'Afrique</a></h1>
            </div>
            <div class="header-top">
                <div class="header-top-in">
                    <ul class="header-grid">
                        <li ><a href="{{ path('account') }}">Mon Compte   </a> <label>/</label></li>
                        {% if app.user %}
                            <li class="green-bold">Bonjour {{ app.user.firstName }}</li>
                        {% else %}
                            <li ><a href="{{ path('fos_user_security_login') }}">  Se connecter </a> </li>
                            <li ><label>/</label><a href="{{ path('fos_user_registration_register') }}"> S'inscrire </a> </li>
                        {% endif %}

                    </ul>
                    <!-- <div class="act">
                        <a href="#" class="done">Donec actortor </a>
                    </div> -->
                    <div class="clearfix"> </div>
                </div>
                <ul class="grid-header"><!--
					<li><a href="account.html">My Account</a> <label>/</label></li> -->
                    <li><a href="#">Mon panier</a> <label>/</label></li>
                    <li><a href="{{ path('checkout') }}">  Passer la commande </a> </li>
                </ul>
                <div class="clearfix"> </div>
            </div>
            <div class="header-bottom">
                <div class="top-nav">
                    <span class="menu"> </span>
                    <ul>
                        <li {% if active == 'home' %}class="active"{% endif %} ><a href="{{ path('index1') }}" >Accueil  </a><label>- </label> </li>
                        <li {% if active == 'speciality' %}class="active"{% endif %} ><a href="{{ path('speciality', {'category' : 'liste'}) }}">Specialités</a><label>- </label></li>
                        <li {% if active == 'galery' %}class="active"{% endif %} ><a href="{{ path('galery') }}" > Galerie</a><label>- </label></li>
                        <li {% if active == 'about' %}class="active"{% endif %} ><a href="{{ path('about') }}" > A propos</a><label>- </label></li>
                        <li {% if active == 'contact' %}class="active"{% endif %} ><a href="{{ path('contact') }}">Contact</a></li>
                    </ul>

                </div>
                <div class="search">
                    <form>
                        <input type="text" value="Search store here ..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" >
                        <input type="submit" value="">
                    </form>
                </div>
                <div class="clearfix"> </div>
            </div>