{% extends "::Layout/layout.html.twig" %}
{% block title %}Contact - {{ parent() }} - Casablanca{% endblock %}
{% block body %}
    {% include('MainBundle:Common:header.html.twig') with { active: 'contact'} %}
    <!--========================================================
                           CONTENT
 =========================================================-->

    {#{% include('MainBundle:Common:banner.html.twig') %}#}
    <div class="container" style="padding-top: 100px;">
        <div class="contact">
            <div class="contact-in">
                <div class="row">
                    <div class="col-ms-offset-4 col-ms-5">
                        {% if app.session.flashbag.has('notice') %}
                            <div class="alert alert-success">
                                <button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>
                                {% for message in app.session.flashbag.get('notice') %}
                                    {% if loop.first %}
                                        <center>{{  message }}</center>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <h2>contact</h2>
                <div class=" col-md-9 contact-left">

                    {{ form_start(form, {'attr': { 'action': path('contact'), 'method':'POST', 'id':'form'}}) }}
                        <div>
                            <span>Nom</span>
                            {{ form_widget(form.name,  {'attr': {'placeholder':'Votre Nom', 'title':'Votre Nom', 'class':'form-control textbox', 'required':'required', 'maxlength':'255'}}) }}
                            {{ form_errors(form.name) }}
                        </div>
                        <div>
                            <span>E-Mail</span>
                            {{ form_widget(form.email,  {'attr': {'placeholder':'Votre e-mail', 'title':'Votre e-mail', 'class':'form-control textbox', 'required':'required', 'maxlength':'255'}}) }}
                            {{ form_errors(form.email) }}
                        </div>
                        <div>
                            <span>Message</span>
                            {{ form_widget(form.message,  {'attr': {'placeholder':'Votre Message', 'required':'required', 'class':'form-control contact'}}) }}
                            {{ form_errors(form.message) }}
                        </div>
                        <div>
                            <span><input type="submit" value="Envoyer"></span>
                        </div>
                    {{ form_rest(form) }}
                    {{  form_end(form) }}
                </div>

                <div class=" col-md-3 contact-right">

                    <h5>Informations société</h5>
                    <p>16 bd alkhatib aliraqui bd Biranzarane,</p>
                    <p>ruelle la mosqué Biranzarane </p>
                    <p>Maarif - Casablanca</p>
                    <p>Maroc</p>
                    <p>Téléphone: 05229-81729 / 0662-760309</p>
                    <p>Email: <a href="mailto:info@mycompany.com">info@bamboudafrique.com</a></p>
                    <p>Suivez-nous sur : <a href="https://www.facebook.com/bambou.dafrique">Facebook</a></p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3323.9323387392237!2d-7.6399516847973!3d33.58110598073679!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda7d2c190248119%3A0xf9aa3617fea97f47!2sRestaurant+Bambou+D+Afrique!5e0!3m2!1sfr!2s!4v1515434419494" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    {% include('MainBundle:Common:footer.html.twig') %}
{% endblock %}
