{% extends "::Layout/layout.html.twig" %}
{% block body %}
    <div class="container container-modified" style="margin: 0; padding: 0;">
        <div id="" class="row">

            <div id="" class="col-md-12" style="position: absolute;z-index: 1;text-align: center;background-size: cover;border: 2px solid #ffff00;">
                <iframe src="{{ asset('bundles/main/slide/slide.html') }}" frameborder="0" width="1400px" height="800px" scrolling="no" ></iframe>
            </div>

            <div class="container" id="bb" style="position: absolute; z-index: 255;background-color: rgba(0,0,0,0.5);width:1400px; height:800px;color:white;" >
                <div class="row"><br><br><br></div>
                <div class="row">
                    <div class="col-md-offset-1 col-md-3 presentation">
                        <div class="row">
                            <div style="text-align: center;" class="col-md-12">
                                <h2  style="font-family: 'Oswald';">Le Restaurant Bambou d'Afrique de Casablanca<span style="font-family: 'Pacifico', cursive;color: orangered;">Bambou d'Afrique</span></h2>
                                <br>
                                <p style="font-family: 'Trebuchet MS';">
                                    Le Bambou d'Afrique vous propose un cadre agréable et une diversité de plats de plusieurs pays d 'Afrique.
                                    Venez nombreux visiter ce cadre chaleureux situé dans le quartier Maârif, au coeur de Casablanca.
                                </p>

                                <br>
                                <div id="image">
                                    <img src="{{ asset('images/femme_afr2.png') }}" width="60%" height="60%" alt="femme_africaine"  />
                                </div>
                                <br><br>
                                <div>
                                    <a href="{{ path('index1') }}" class="btn btn-primary" style="color:white;">Accédez au site  <i class="glyphicon glyphicon-arrow-right"></i></a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class=" col-md-3 presentation" style="margin-left: 15px;">
                        <div class="row">
                            <div style="text-align: center;" class="col-md-12">
                                <h2  style="font-family: 'Oswald';">Le Restaurant Bambou d'Afrique de xxxxxxx <span style="font-family: 'Pacifico', cursive;color: orangered;">Bambou d'Afrique</span></h2>
                                <br>
                                <p style="font-family: 'Trebuchet MS';">
                                    Le Bambou d'Afrique vous propose un cadre agréable et une diversité de plats de plusieurs pays d 'Afrique.
                                    Venez nombreux visiter ce cadre chaleureux situé dans le quartier Maârif, au coeur de Casablanca.
                                </p>

                                <br>
                                <div id="image">
                                    <img src="{{ asset('images/femme_afr2.png') }}" width="60%" height="60%" alt="femme_africaine"  />
                                </div>
                                <br><br>
                                <div>
                                    <a href="{{ path('index1') }}" class="btn btn-primary" style="color:white;">Accédez au site  <i class="glyphicon glyphicon-arrow-right"></i></a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 presentation" style="margin-left: 15px;">
                        <div class="row">
                            <div style="text-align: center;" class="col-md-12">
                                <h2  style="font-family: 'Oswald';">Le Restaurant Bambou d'Afrique de xxxxx <span style="font-family: 'Pacifico', cursive;color: orangered;">Bambou d'Afrique</span></h2>
                                <br>
                                <p style="font-family: 'Trebuchet MS';">
                                    Le Bambou d'Afrique vous propose un cadre agréable et une diversité de plats de plusieurs pays d 'Afrique.
                                    Venez nombreux visiter ce cadre chaleureux situé dans le quartier Maârif, au coeur de Casablanca.
                                </p>

                                <br>
                                <div id="image">
                                    <img src="{{ asset('images/femme_afr2.png') }}" width="60%" height="60%" alt="femme_africaine"  />
                                </div>
                                <br><br>
                                <div>
                                    <a href="{{ path('index1') }}" class="btn btn-primary" style="color:white;">Accédez au site  <i class="glyphicon glyphicon-arrow-right"></i></a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        function openNav() {
            document.getElementById('mySideNav').style.width = "250px";
        }

        function closeNav() {
            document.getElementById('mySideNav').style.width = "0";
        }
    </script>

{% endblock %}