{% extends "::Layout/layout.html.twig" %}
{% block title %}{{ parent() }} - Casablanca{% endblock %}
{% block body %}
    {% include('MainBundle:Common:header.html.twig') with {active: 'home'} %}
    <!--========================================================
                           CONTENT
 =========================================================-->

	{% include('MainBundle:Common:banner.html.twig') %}

	<div class="container" style="padding-top: 100px;">
			<div class="specials" style="padding-top: 0;">
				<div class="special-bottom">

					<div class="col-md-6 bottom-special" style="background-image: url({{ asset('bundles/main/images/gal29.jpg') }});">
						<a href="{{ path('speciality', {'category' : 'africaine'}) }}" class="details">Africaine</a>
					</div>

					<div class="col-md-6 bottom-special-1" style="background-image: url({{ asset('bundles/main/images/gal29.jpg') }});">
						<a href="{{ path('speciality', {'category' : 'international'}) }}" class="details">International</a>
					</div>
					<div class="clearfix"> </div>
				</div>


				<div class="special-bottom">
					<div class="col-md-6 bottom-special-3" style="background-image: url({{ asset('bundles/main/images/gal29.jpg') }});">
						<a href="{#{{ path('speciality', {'item' :}) }}#}" class="details">AFRICAINE</a>
					</div>
					<div class="col-md-6 bottom-special-2" style="background-image: url({{ asset('bundles/main/images/gal29.jpg') }});">
						<a href="{#{{ path('speciality', {'item' :}) }}#}" class="details">INTERNATIONALE</a>
					</div>
					<div class="clearfix"> </div>
				</div>


			</div>
		</div>

	<!---->

{% endblock %}
{% block footer %}
	{% include('MainBundle:Common:footer.html.twig') %}
{% endblock %}





