{% extends "::Layout/layout.html.twig" %}
{% block title %}{{ parent() }} - Casablanca{% endblock %}
{% block body %}
    {% include('MainBundle:Common:header.html.twig') with {active: 'speciality'} %}
    <!--========================================================
                           CONTENT
 =========================================================-->

    {#{% include('MainBundle:Common:banner.html.twig') %}#}
    <div class="container" style="padding-top: 100px;">
        <div class="specials">
            <h2>Specialités</h2>
            <div class="row">
                <div class="">
                    {% if specialityList is not empty %}
                        {% for speciality in specialityList %}
                            <div class="col-md-3 special-in">
                                <a href="{{ path('speciality', {'category' : speciality.title}) }}" >
                                    <img src="{{ asset('bundles/main/images'~speciality.image.url) }}" class="img-responsive" alt="">
                                </a>
                                <h5><a href="{{ path('speciality', {'category' : speciality.title}) }}">{{ speciality.title }}</a></h5>
                            </div>
                        {% endfor %}
                    {% endif %}






                    {#

                    <div class="col-md-3 special-in">
                        <a href="{{ path('speciality', {'category' : 'africaine'}) }}" >
                            <img src="{{ asset('bundles/main/images/gal5.jpg') }}" class="img-responsive" alt="">
                        </a>
                        <h5><a href="{{ path('speciality', {'category' : 'africaine'}) }}">Africaine</a></h5>
                    </div>
                    <div class="col-md-3 special-in">
                        <a href="specials1.html" >
                            <img src="{{ asset('bundles/main/images/grillades_mixtes.jpg') }}" class="img-responsive" alt="">
                        </a>
                        <h5><a href="specials1.html">Internationale</a></h5>
                        <p>Coffee</p>
                    </div>
                    <div class="col-md-3 special-in">
                        <a href="specials1.html" ><img src="{{ asset('bundles/main/images/gal6.jpg') }}" class="img-responsive" alt="">

                        </a>
                        <h5><a href="specials1.html">Art africain</a></h5>
                        <p>Chili Con Carne</p>
                    </div>
                    <div class="col-md-3 special-in">
                        <a href="specials1.html" ><img src="{{ asset('bundles/main/images/viande_pruneaux.jpg') }}" class="img-responsive" alt="">

                        </a>
                        <h5><a href="specials1.html">Marocaine</a></h5>
                        <p>Cappuccino</p>
                    </div>
                    <div class="clearfix"> </div>

                    #}
                </div>
            </div>





            {#

            <div class="special-top">
                <div class="col-md-3 special-in">
                    <a href="single.html" ><img src="{{ asset('bundles/main/images/chawarma_poulet.jpg') }}" class="img-responsive" alt="">

                    </a>
                    <h5><a href="single.html">Sandwiches SSSSSS</a></h5>
                    <p>Coffee CCCC</p>
                </div>
                <div class="col-md-3 special-in">
                    <a href="single.html" ><img src="{{ asset('bundles/main/images/salade_mixte.jpg') }}" class="img-responsive" alt="">

                    </a>
                    <h5><a href="single.html">Salades</a></h5>
                    <p>Egg</p>
                </div>
                <div class="col-md-3 special-in">
                    <a href="single.html" ><img src="{{ asset('bundles/main/images/creme_caramel.jpg') }}" class="img-responsive" alt="">

                    </a>
                    <h5><a href="single.html">Desserts</a></h5>
                    <p>Food</p>
                </div>
                <div class="col-md-3 special-in">
                    <a href="single.html" ><img src="{{ asset('bundles/main/images/jus_mangue.jpg') }}" class="img-responsive" alt="">

                    </a>
                    <h5><a href="single.html">Jus et boissons</a></h5>
                    <p>Tom Kha Gai</p>
                </div>
                <div class="clearfix"> </div>
            </div>

            #}

            <div class="special-bottom">
                <div class="col-md-6 bottom-special">
                    <h5><a href="single.html">ALIQUAM CONGUE FERMENTU</a></h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
                    <a href="single.html" class="details">Details</a>
                </div>
                <div class="col-md-6 bottom-special-1">
                    <h5><a href="single.html">ALIQUAM CONGUE FERMENTU</a></h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
                    <a href="single.html" class="details">Details</a>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    {% include('MainBundle:Common:footer.html.twig') %}
{% endblock %}
