{% extends "::Layout/layout.html.twig" %}
{% block title %}{{ parent() }} - Casablanca{% endblock %}
{% block body %}
    {% include('MainBundle:Common:header.html.twig') with { active: ''} %}
    <!--========================================================
                           CONTENT
 =========================================================-->

    {#{% include('MainBundle:Common:banner.html.twig') %}#}
    <div class="container" style="padding-top: 100px;">
        <div class="single">
            <div class="col-md-9  single-top">
                <div class="text-in">
                    <div class="single-men">
                        <img class="img-responsive" src="{{ image('images/'~product.productName).forceResize(400, 300) }}" alt="" />
                        <br>
                        <form action="{{ path('add_to_cart', {'id':product.id}) }}" method="get">
                            <div class="sub-in">
                                <select name="quantity">
                                    {% for i in 1..10 %}
                                        <option value="{{ i }}">{{ i }}</option>
                                    {% endfor %}
                                    <div class="sub-in">
                                        <input type="submit" value="Commander">
                                    </div>
                                </select>
                            </div>
                        </form>
                        <br>
                        <h5 style="font-family: 'Lobster Two', cursive;font-size: 1.5em;color: #aa381e;">{{ product.title }} : {{ product.price }} dh</h5>
                        <br>
                        <p style="font-size:1.3em;color: #848484;line-height: 1.5em;">Quisque euismod velit luctus tellus dignissim, sed aliquam tellus porttitor. Suspendisse feugiat, orci sed iaculis tristique, est neque tempus sem, ut iaculis mi augue sed enim. Nunc nec consectetur mi. Aenean nisl augue, laoreet vel justo nec, auctor congue metus. Vestibulum aliquet, eros non iaculis lobortis, velit lectus imperdiet turpis, id blandit nisi mauris nec turpis.
                            Quisque euismod velit luctus tellus dignissim, sed aliquam tellus porttitor. Suspendisse feugiat, orci sed iaculis tristique, est neque tempus sem, ut iaculis mi augue sed enim. Nunc nec consectetur mi. Aenean nisl augue, laoreet vel justo nec, auctor congue metus. Vestibulum aliquet, eros non iaculis lobortis, velit lectus imperdiet turpis, id blandit nisi mauris nec turpis.</p>
                    </div>
                    <!-- <ul class="comment-list">
                                              <h5 class="post-author_head">Written by <a href="#" title="Posts by admin" rel="author">admin</a></h5>
                                               <li><img src="images/avatar.png" class="img-responsive" alt="">
                                                 <div class="desc">
                                                  <p>View all posts by: <a href="#" title="Posts by admin" rel="author">admin</a></p>
                                                 </div>
                                                 <div class="clearfix"></div>
                                               </li>
                                           </ul> -->
                    <br><br>
                    <hr>
                    <div class="comments-area">
                        <h3>Ajouter un Commentaire</h3>
                        <form>
                            <p>
                                <label>Nom</label>

                                <input type="text" value="">
                            </p>
                            <p>
                                <label>Email</label>

                                <input type="text" value="">
                            </p>
                            <p>
                                <label>Website</label>
                                <input type="text" value="">
                            </p>
                            <p>
                                <label>Message</label>

                                <textarea></textarea>
                            </p>
                            <div class="sub-in">
                                <input type="submit" value="Ajouer">
                            </div>
                        </form>
                    </div>
                </div>


            </div>
            <div class="col-md-3 single-bottom">
                <div class="store-right">
                    <h6> Categories</h6>
                    <ul class="store-men">
                        <li><a href="#"><span> </span>Africaine </a></li>
                        <li><a href="#"><span> </span>Internationale</a></li>
                        <li><a href="#"><span> </span> Art africain </a></li>
                        <li><a href="#"><span> </span>Salades </a></li>
                        <li><a href="#"><span> </span>Boissons et jus</a></li>
                        <li class="last"><a href="#"><span> </span>Marocaine </a></li>
                    </ul>
                </div>
                <div class="store-right">
                    <h6>Top rated products</h6>

                    {% if product %}
                        <div class="product">
                            <img class="img-responsive fashion" src="{{ asset('images'~product.productName) }}" alt=""/>
                            <div class="grid-product">
                                <a href="#" class="elit">consectetuer adipiscing elit</a>
                                <span class="price price-in"><small>{{ product.price }}</small> 10.00 DH</span>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    {% endif %}






                    <div class="product">
                        <img class="img-responsive fashion" src="{{ asset('bundles/main/images/st1.jpg') }}" alt=""/>
                        <div class="grid-product">
                            <a href="#" class="elit">consectetuer adipiscing elit</a>
                            <span class="price price-in"><small>15.00 DH</small> 10.00 DH</span>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="product">
                        <img class="img-responsive fashion" src="{{ asset('bundles/main/images/st2.jpg') }}" alt=""/>
                        <div class="grid-product">
                            <a href="#" class="elit">consectetuer adipiscing elit</a>
                            <span class="price price-in"><small>15.00 DH</small> 10.00 DH</span>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="product">
                        <img class="img-responsive fashion" src="{{ asset('bundles/main/images/st3.jpg') }}" alt=""/>
                        <div class="grid-product">
                            <a href="#" class="elit">consectetuer adipiscing elit</a>
                            <span class="price price-in"><small>150.0 DH0</small> 10.00 DH</span>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="product">
                        <img class="img-responsive fashion" src="{{ asset('bundles/main/images/st4.jpg') }}" alt=""/>
                        <div class="grid-product">
                            <a href="#" class="elit">consectetuer adipiscing elit</a>
                            <span class="price price-in"><small>15.00 DH</small> 10.00 DH</span>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    {% include('MainBundle:Common:footer.html.twig') %}
{% endblock %}
